<!-- 动画属性面板 -->
<script type="text/x-nova-tpl" id="tpl-dash-ani-addition">
    <dl class="ui-dash-ani-delay ui-dash-block">
        <dt class="ui-dash-title">延迟时间</dt>
        <dd class="ui-dash-2-col">
            <div class="ui-dash-main">
                <div class="delay-slider"></div>
            </div>
            <div class="ui-dash-aside">
                <input class="delay-spinner"/>
            </div>
        </dd>
        <hr/>
    </dl>
    <dl class="ui-dash-ani-duration ui-dash-block">
        <dt class="ui-dash-title">持续时间</dt>
        <dd class="ui-dash-2-col">
            <div class="ui-dash-main">
                <div class="duration-slider"></div>
            </div>
            <div class="ui-dash-aside">
                <input class="duration-spinner"/>
            </div>
        </dd>
        <hr/>
    </dl>
    <dl class="ui-dash-ani-list ui-dash-block">
        <dt class="ui-dash-title">控件效果列表</dt>
        <dd>
            <ul class="ui-dash-ani-ul"></ul>
        </dd>
        <hr/>
        <dd>
            <button class="add-button">添加效果</button>
        </dd>
    </dl>
    <ul class="ui-ani-select-list ui-dash-pop"></ul>
</script>

<!-- 动画组模板 -->
<script type="text/x-nova-tpl" id="tpl-ani-select-group">
    <section class="group">
        <label class="groupname">{{label}}</label>
        <ul>
            {{#each animates}}
            <li class="ani-item" data-name="{{this}}">{{this}}<span class="item-preview ani-item-opt-button" data-name="{{this}}">预览</span></li>
            {{/each}}
        </ul>
    </section>
</script>


<!-- 无控件效果摘要模板 -->
<script type="text/x-nova-tpl" id="tpl-ani-init-summary">
    <dt class="init-ani-title">无控件效果</dt>
    <dd>
        <button class="new-button">添加效果</button>
    </dd>
</script>


<!-- 有控件效果摘要模板 -->
<script type="text/x-nova-tpl" id="tpl-ani-modify-summary">
    <dt class="modify-ani-title">{{name}}</dt>
    <dd>
        <button class="modify-button">更改</button>
        <button class="preview-button" data-name="{{name}}">预览</button>
    </dd>
</script>


<!-- 已有动画列表模板 -->
<script type="text/x-nova-tpl" id="tpl-ani-list">
    {{#each animates}}
    {{#if active}}
        <li class="ani-item active" data-i="{{@index}}">
            {{name}}
            <span class="item-del ani-item-opt-button" data-i="{{@index}}">删除</span>
        </li>
    {{else}}
        <li class="ani-item" data-i="{{@index}}">
            {{name}}
            <span class="item-del ani-item-opt-button" data-i="{{@index}}">删除</span>
        </li>
    {{/if}}
    {{/each}}
</script>
