<header>布局</header>
<section>
    <input type="button" value="<<" ui="button"/>
    <input type="button" value=">>" ui="button"/>
    <input type="button" value="<"  ui="button"/>
    <input type="button" value=">"  ui="button"/>
</section>
<section>
    宽度：<input type="text" value="${width}" ui="number"/>像素
    高度：<input type="text" value="${height}" ui="number"/>像素
    <input type="checkbox" />保持比例
</section>
<section>
    X：<input type="text" value="${width}" ui="number"/>像素
    Y：<input type="text" value="${height}" ui="number"/>像素
</section>
<section>
    角度：<input type="text" value="${width}" ui="angle"/><sup>。</sup>
</section>