<!-- 页属性模板 -->
<script type="text/x-nova-tpl" id="tpl-dash-page-addition">
    <dl class="ui-dash-page-background ui-dash-block">
        <dt class="ui-dash-title">背景</dt>
        <dd>
            <select>
                <option>无</option>
                <option>颜色</option>
                <option>图片</option>
            </select>
        </dd>
        <dd>
            <div class="background-color"></div>
        </dd>
        <hr/>
    </dl>
    <dl class="ui-dash-page-foreground ui-dash-block">
        <dt class="ui-dash-title">前景</dt>
        <dd>
            <select>
                <option>无</option>
                <option>颜色</option>
                <option>图片</option>
            </select>
        </dd>
        <dd>
            <div class="foreground-color"></div>
        </dd>
        <hr/>
    </dl>
</script>