<!-- 样式属性模板 -->
<script type="text/x-nova-tpl" id="tpl-dash-style-addition">
    <dl class="ui-dash-style-background ui-dash-block">
        <dt class="ui-dash-title">填充</dt>
        <dd class="ui-dash-2-col">
            <div class="background-color"></div>
        </dd>
        <hr/>
    </dl>
    <dl class="ui-dash-style-border ui-dash-block">
        <dt class="ui-dash-title">边框</dt>
        <dd class="ui-dash-3-col">
            <div class="ui-dash-aside">
                <select class="border-style">
                    <option>无</option>
                    <option>实线</option>
                    <option>虚线</option>
                </select>
            </div>
            <div class="ui-dash-main">
                <div class="border-color"></div>
            </div>
            <div class="ui-dash-aside">
                <input class="border-width-spinner"/>
            </div>
        </dd>
        <hr/>
    </dl>
    <dl class="ui-dash-style-shadow ui-dash-block">
        <dt class="ui-dash-title">阴影</dt>
        <dd>
            <select class="shadow-switch">
                <option value="none">无</option>
                <option value="shadow">阴影</option>
            </select>
        </dd>
        <dd class="ui-dash-2-col shadow-switch-shadow">
            <label class="ui-dash-subtitle">模糊</label>
            <div class="ui-dash-main">
                <div class="shadow-blur-slider"></div>
            </div>
            <div class="ui-dash-aside">
                <input class="shadow-blur-spinner"/>
            </div>
        </dd>
        <dd class="ui-dash-2-col shadow-switch-shadow">
            <label class="ui-dash-subtitle">横向偏移</label>
            <div class="ui-dash-main">
                <div class="shadow-offset-x-slider"></div>
            </div>
            <div class="ui-dash-aside">
                <input class="shadow-offset-x-spinner"/>
            </div>
        </dd>
        <dd class="ui-dash-2-col shadow-switch-shadow">
            <label class="ui-dash-subtitle">纵向偏移</label>
            <div class="ui-dash-main">
                <div class="shadow-offset-y-slider"></div>
            </div>
            <div class="ui-dash-aside">
                <input class="shadow-offset-y-spinner"/>
            </div>
        </dd>
        <dd class="ui-dash-2-col shadow-switch-shadow">
            <label class="ui-dash-subtitle">不透明度</label>
            <div class="ui-dash-main">
                <div class="shadow-opacity-slider"></div>
            </div>
            <div class="ui-dash-aside">
                <input class="shadow-opacity-spinner"/>
            </div>
        </dd>
        <dd class="ui-dash-2-col shadow-switch-shadow">
            <label class="ui-dash-subtitle">颜色</label>
            <div class="shadow-color"></div>
        </dd>
        <hr/>
    </dl>
    <dl class="ui-dash-style-opacity ui-dash-block">
        <dt class="ui-dash-title">不透明度</dt>
        <dd class="ui-dash-2-col">
            <div class="ui-dash-main">
                <div class="opacity-slider"></div>
            </div>
            <div class="ui-dash-aside">
                <input class="opacity-spinner"/>
            </div>
        </dd>
        <hr/>
    </dl>
</script>