@import "_variables.scss";

.ui-colorpicker-panel{
    position:absolute;
    width: 246px;
    padding:$ui-panel-padding;
    overflow:hidden;
    background-color: $ui-background-color;
    border: $ui-1px-border;
    border-radius: $ui-radius;
    display: none;
    box-shadow: $ui-shadow;
    z-index: $ui-panel-zindex;
}
.color-item{
    width: 40px;
    height: 20px;
    float:left;
    margin:0px 1px 1px 0px;
    border:$ui-1px-border;
    box-sizing:border-box;
}
.ui-colorpicker-input{
    height:20px;
    border:$ui-1px-border;
}
.ui-colorpicker-icon{
    height:20px;
    width:60px;
    border:$ui-1px-border;
    border-radius: $ui-radius;
}