@import "_variables";

.ui-resizable-helper{
    border:1px dotted #ccc;
}

.control{
    overflow:hidden;
    position:absolute;
    z-index: $control-min-zindex;
}

.control-mask{
    position:absolute;
}

.control-mask-border-show .control-mask{
    outline:$ui-1px-border;
}

.control-mask-show,
.control-mask-border-show .control-mask-show {
    outline:$ui-1px-active-border;
    z-index:$control-mask-zindex;
}

.ui-resizable-se,
.ui-resizable-sw,
.ui-resizable-ne,
.ui-resizable-nw{
    border:1px solid #fff;
    background-color:$ui-state-active;
    border-radius:$ui-round-radius;
    box-shadow: $ui-shadow;
    width:10px;
    height:10px;
}
.ui-resizable-se{
    right:-5px;
    bottom:-5px;
}

.hide-selected .control-mask-show{
    display:none;
}