@import "_variables";

.ui-resizable-helper{
    border:1px dotted #ccc;
}

.control{
    left:0px;
    top:0px;
    width:200px;
    height:100px;
    outline: $ui-1px-border;
}
.control.ui-draggable{
    position:absolute;
}
.control-mask{
    right:0px;
    bottom:0px;
    position:absolute;
    left:0px;
    top:0px;
    display:none;
}
.control-selected .control-mask{
    outline:$ui-1px-active-border;
    z-index:$control-mask-zindex; /* resize 的四个小圆点默认的z-index是90，这里设置比他们低一点 */
    display:block;
}

.control-selected .ui-resizable-se,
.control-selected .ui-resizable-sw,
.control-selected .ui-resizable-ne,
.control-selected .ui-resizable-nw{
    border:1px solid #fff;
    background-color:$ui-state-active;
    border-radius:$ui-round-radius;
    box-shadow: $ui-shadow;
    width:10px;
    height:10px;
}
.control-selected .ui-resizable-se{
    right:-5px;
    bottom:-5px;
}