@import "_variables";

.dashboard{
    background-color:#f6f6f6;
}
.ui-dash-tabs{
    overflow:hidden;
}
.ui-dash-tab{
    float:left;   
    line-height: 30px;
    background: $ui-state-hover;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #c1c1c1;
    font-size:12px;
    text-align:center;
    cursor:default;
}
.ui-dash-tabs .active{
    background-color:#f6f6f6;
    border-bottom: none;
}

.ui-dash-summary{
    background:#fff;
    border-bottom:$ui-1px-border;
    overflow: hidden;
    padding:10px;
    box-sizing: border-box;
}
.ui-dash-summary dd{
    width:240px;
    margin:0px auto;
}
.ui-dash-summary dt{
    line-height:40px;
    text-align: center;
    color:#ccc;
    font-size:14px;
    font-weight:bold;
}

.ui-dash-addition{
    box-sizing:border-box;
    overflow-y:scroll;
}

.ui-dash-block{
    padding: 15px;
    padding-bottom:0px;
}
.ui-dash-block dd{
    margin-bottom:10px;
}
.ui-dash-block hr{
    margin-top:20px;
    height:0px;
    border:none;
    border-bottom:$ui-1px-border;
}
.ui-dash-title{
    font-weight:bold;
    line-height:25px;
}
.ui-dash-subtitle{
    display:block;
}

.ui-dash-2-col{
    overflow:hidden;
}
.ui-dash-2-col .ui-dash-main{
    float:left;
    width:150px;
    margin-right:$ui-panel-padding;
}
.ui-dash-2-col .ui-dash-aside{
    float:left;
    width:80px;
}

.ui-dash-3-col{
    overflow: hidden;
}
.ui-dash-3-col .ui-dash-main,
.ui-dash-3-col .ui-dash-aside{
    float:left;
    width:70px;
}
.ui-dash-3-col .ui-dash-main{
    margin:0px 8px;
}
.ui-dash-pop{
    background-color: $ui-background-color;
    border:$ui-1px-border;
    border-radius:$ui-radius;
    overflow-y:scroll;
    width:240px;
    position:absolute;
    display:none;
    box-shadow: $ui-shadow;
    z-index:$ui-panel-zindex;
}
.ui-dash-pop .item{
    padding:0px 10px;
}
.ui-dash-pop .item:hover{
    background-color:$ui-state-hover;
};