@import "_variables.css";

.ui-buttonset .ui-button{
    margin-right:-5px;
    background-color:#fff;
}
.ui-buttonset .ui-state-active{
    background-color: #007afc;
    border-color: #007afc;
}
.font-style .ui-button-text-only .ui-button-text{
    padding:3px 20px;
}
.text-align .ui-button-text-only .ui-button-text{
    padding:3px 17px;
}
.vertical-align .ui-button-text-only .ui-button-text{
    padding:3px 27px;
}
.ui-dash-aside .font-size-spinner.ui-spinner-input{
    width:22px;
}
.font-family{
    width:150px;
}
.ui-selectmenu-button{
    background-color: #fff;
}
.ui-selectmenu-button:focus{
    outline:none;
}
.ui-selectmenu-button span.ui-selectmenu-text{
    padding:2px 2.1em 2px 1em;
}